* {
    margin: 0;
    padding: 0;
    background-color: #BF8876;
}

/* Index Page */

.header-one {
    text-align: center;
    font-size: 3.5rem;
    text-decoration: underline;
}

.container a {
    font-size: 1.7rem;
    line-height: 50px;
    margin-left: 4%;
    text-decoration: none;
    background-color: whitesmoke;
    
}

.recipes {
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.main-image {
    display: flex;
    align-content: center;
    justify-content: center;
}

.recipe-image {
    width: 25%;
    height: 25%;
    margin-top: 2%;
}

ul {
    list-style-type: none;
    border: 2px solid black;
    border-radius: 2%;
    height: 300px;
    width: 450px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 48%);
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}

